<%-include("partials/header"); -%>

  <h1 class="aboutHeading">About Cov19</h1>
  <div class="about">
    <h3>Hi!</h3>
    <p>
      I am Arya, and I made Cov19. The main intention of making this was to make something useful while practicing and
      learning about web development. It took hours and days of work to finally finish this, but I am quite proud of
      what I have created and hope you like it.
    </p>
    <div class="icons">
      <h2>Contact me</h2>
      <form action="mailto:aryaholmukhe@gmail.com" method="post" enctype="text/plain" class="i">
        <button class="email" type="submit">Email Me</button>
      </form>
      <a class="i" href="https://github.com/Aryaholmukhe"><i class="fab fa-github fa-3x"></i></a>
      <a class="i" href="https://www.instagram.com/aryaholmukhe/"><i class="fab fa-instagram fa-3x"></i></a>
      <a class="i" href=""><i onclick="discord()" class="fab fa-discord fa-3x"></i></a>
    </div>
  </div>
  <%-include("partials/footer"); -%>