<%-include("partials/header"); -%>

    <h1 id="covidHeading">Covid-19 Guidelines</h1>
    <div class="container-fluid row">
        <div id="covidGuidelines" class="col">
            <p>COVID-19 affects different people in different ways. Most infected people will develop mild to moderate
                illness and recover without hospitalization.</p>

            <div id="symptomTypes">
                <div class="symptoms">
                    <h5>Most common symptoms:</h5>
                    <ul>
                        <li>fever</li>
                        <li>cough</li>
                        <li>tiredness</li>
                        <li>loss of taste or smell.</li>
                    </ul>
                </div>

                <div class="symptoms">
                    <h5>Less common symptoms:</h5>
                    <ul>
                        <li>sore throat</li>
                        <li>headache</li>
                        <li>aches and pains</li>
                        <li>diarrhoea</li>
                        <li>a rash on skin, or discolouration of fingers or toes</li>
                        <li>red or irritated eyes.</li>
                    </ul>
                </div>

                <div class="symptoms">
                    <h5>Serious symtomps:</h5>
                    <ul>
                        <li>difficulty breathing or shortness of breath</li>
                        <li>loss of speech or mobility, or confusion</li>
                        <li>chest pain.</li>
                    </ul>
                </div>

            </div>


            <p>Seek immediate medical attention if you have <b>serious symptoms</b>. Always <b>call before</b> visiting
                your doctor or health facility. </p>
            <p>People with <b>mild symptoms</b> who are otherwise healthy should manage their symptoms at home. </p>
            <p>On average it takes <b>5–6 days</b> from when someone is infected with the virus for symptoms to show,
                however it can take up to <b>14 days.</b> </p>

        </div>

        <div class="col protectionUl">
            <p>
                <i class="fas fa-user-md fa-2x"></i> Protect Yourself and others:
            </p>
            <ul>
                <li>Get Vaccinated as soon as possible
                    <i class="fas fa-syringe fa-2x"></i>
                </li>
                <li>Wear a Mask
                    <i class="fas fa-head-side-mask fa-2x"></i>
                </li>
                <li>Stay 6 feet from others
                    <i class="fas fa-people-arrows fa-2x"></i>
                </li>
                <li>Avoid crowds and poorly ventilated spaces
                    <i class="fas fa-users-slash fa-2x"></i>
                </li>
                <li>Wash your hands often
                    <i class="fas fa-hands-wash fa-2x"></i>
                </li>
                <li>Cover coughs and sneezes
                    <i class="fas fa-head-side-cough-slash fa-2x"></i>
                </li>
                <li>Clean and disinfect
                    <i class="fas fa-hand-holding-medical fa-2x"></i>
                </li>
                <li>Monitor your health daily
                    <i class="fas fa-temperature-high fa-2x"></i>
                </li>
            </ul>
        </div>

    </div>

    <%-include("partials/footer"); -%>